<div class="container">
  <h1>Restablecer Contraseña</h1>
  <p>Hola {{ username }},</p>
  <p>Recibiste este correo electrónico porque solicitaste restablecer tu contraseña en nuestra plataforma. Por favor, haz clic en el siguiente enlace para completar el proceso:</p>
  <a href="{{ resetUrl }}">{{ resetUrl }}</a>
  <p>Si no solicitaste este restablecimiento de contraseña, puedes ignorar este correo electrónico.</p>
  <p>Gracias,</p>
  <p>El equipo de nuestro sitio</p>
</div>
